.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    min-height: 100px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    flex: 1;
}