@import '../../style_constants';

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1rem;
    color: $main-text;
}

.user-role {
    font-size: 0.75rem;
    color: $main-text;
    opacity: 0.5;
}