.buttonIconContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}