@import '../../../../style_constants';

.menuItem {
    width: 180px;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease-out;
    img {
        transition: 0.2s ease-out;
    }
    &:hover {
        opacity: 0.7;
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.text {
    font-size: 1rem;
    color: $main-text;
    transition: 0.2s ease-out;
}

.active {
    background-color: $main-accent;
    .text {
        color: $white-100;
    }
    img {
        filter: invert(1);
    }
    &:hover {
        opacity: 1;
        background-color: $main-accent;
    }
}