@import '../../style_constants';

.simpleIcon {
    height: $icon-size;
    width: $icon-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.5;
    }
}