@import '../../style_constants';

.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    background-color: $white-70;
    width:280px;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.containerSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px;
    gap: 60px;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.burgerMenu {
    display: none;
}

.sideMenu {
    display: none;
}

@media (max-width: 670px) {
    .sideBar {
        width: 100vw;
        height: 80px;
        backdrop-filter: blur(5px);
    }

    .container {
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }

    .buttonExit {
        display: none;
    }
    
    .burgerMenu {
        position: relative;
        z-index: 2;
        display: block;
    }

    .sideMenu {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        background-color:$white-100;
        width: 100vw;
        height: 100vh;
        margin: auto;
    }

    .menuLinks {
        display: none;
    }
}