@import '../../style_constants';

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: $white-70;
    width:280px;
    height: 100vh;
}

.side-bar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.side-bar-top-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.side-bar-buttom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.burger-menu {
    display: none;
    width: 20px;
    height: 16px;
    background-color: black;
    opacity: 0.5;
}

@media (max-width: 670px) {
    .side-bar {
        width: 100vw;
        height: 80px;
    }

    .side-bar-container {
        flex-direction: row;
        padding: 15px;
    }

    .button-exit {
        display: none;
    }
    
    .burger-menu {
        display: block;
    }
}