@import '../../style_constants';

.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: $white-70;
    width:280px;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.burgerMenu {
    display: none;
    width: 20px;
    height: 16px;
    background-color: black;
    opacity: 0.5;
}

@media (max-width: 670px) {
    .sideBar {
        width: 100vw;
        height: 80px;
    }

    .container {
        flex-direction: row;
        padding: 15px;
    }

    .buttonExit {
        display: none;
    }
    
    .burgerMenu {
        display: block;
    }
}