.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.875rem;
}

.prop {
    display: flex;
    flex-wrap: wrap;
}

.files {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}