// light
$main-aacent: #3084FE;
$main-text: #000000;
$main-background:#DCE8F0;
$white-70: rgba(255, 255, 255, 0.7);
$white-50: rgba(255, 255, 255, 0.5);

//dark
$main-text-dark: #ffffff;
$main-background-dark: #110E2B;