@import 'colors';

.app {
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
}

.side-left {
    width: 280px;
}

.side-right {
    max-width: 300px;
}

.container {
    flex: 3;
    margin: 40px 20px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    min-width: 280px;
}

@media (max-width: 1040px) {
    .content-container {
        gap: 10px;
    }
}

@media (max-width: 670px) {
    .side-left {
        display: none;
    }
    .side-right {
        display: none;
    }
    .app {
        flex-direction: column;
    }
    .container {
        margin-top: 110px;
    }
}